---
---

$color : rgb(128,128,128) ;
$light_color : rgb(192,192,192) ;
$dark_color : rgb(32,32,32) ;


$font : serif ;


body {
	padding:0;
	margin:0;
	font-family: $font;
	color: $color;
	font-size : 20px;
}

@media (min-resolution: 100dpi) {
	body {
		font-size:40px;
		color:red ;
	}
}

a {
	color : $color ;
	text-decoration: none;
	font-family: sans-serif;
}

a:hover {
	color: $dark_color ;
	text-decoration: underline;
}


@media (max-resolution: 100dpi) and (min-width: 1000px) {
	.whole {
		width : 1000px ;	
		border-left : 1px $light_color solid ;
		border-right : 1px $light_color solid ;
	}
}



.whole {
	margin-left : auto ;
	margin-right : auto ;
	margin-bottom: 0;
	margin-top:0;
	
	min-height: 100vh;

	background-color: white ;


	h1.title {
		font-size: 15vh;
		text-align: center;
		text-transform: capitalize;
		font-family: monospace;
		margin : 0;
		padding : 10px;
		border-bottom : 1px $light_color solid ;
	}

	h1 a {
		color: $dark_color;	
	}

	h1 a:hover {
		color: $dark_color;	
		text-decoration: none;
	}

	nav {

		ul {
			list-style-type: none ;
			margin : 0 ;
			padding:0 ;
			width : 100% ;
			display: table;	
			border-bottom : 1px $light_color solid ;
		}

		li {
			display: table-cell;
			padding:10px;
			margin:0;
			min-width: 150px;
			text-align: center ;
			border-left : 1px $light_color solid ;
			border-collapse: collapse ;
		}

		li.first {
			border-left: none ;
		}

	}


	footer {
		ul {
			list-style-type: none ;
			margin : 0 ;
			padding:0 ;	
			padding-bottom : 10px ;
			display: table;
			width : 100% ;
			border-top : 1px $light_color solid ;
		}

		li {
			display: inline;
			padding:5px;
			margin:5px;
			font-size: 2vh;
			text-align: center ;
			
		}
	}

}



.post {

	h1 {
		font-family: sans-serif ;
		font-size: 12mm;

		text-align: center ;
		padding-bottom : 30px;
		padding-top : 30px;
		margin : 0px;
		border-bottom: 1px $light_color solid ;

		font-weight: normal;
	}

	.content {
		 padding : 20px;
		 text-align: justify;

	}

}




