---
---

$color : rgb(128,128,128) ;
$light_color : rgb(192,192,192) ;
$dark_color : rgb(32,32,32) ;


$font : serif ;


body {
	padding:0;
	margin:0;
	font-family: $font;
	color: $color;
	font-size : 20px;
}

a {
	color : $dark_color ;
}

.icon {
	height:32px;
	vertical-align: middle;
}

.whole {
	margin-left : auto ;
	margin-right : auto ;
	margin-bottom: 0;
	margin-top:0;
	
	min-height: 100vh;

	background-color: white ;

	.title {

		padding : 10px;
		border-bottom : 1px $light_color solid ;



		h1 {
			text-align: center;
			margin : 0;
			padding : 5px;
			padding-top : 10px;
			border : none;

		}
	
		a {
			text-decoration: none;
		}


	}

	nav {


		font-family: sans-serif;
		border-bottom : 1px $light_color solid ;
		text-align: right;


		.search {
			margin:0;
			padding:0px;
			padding-left:5px;
			border-left:1px $light_color solid ;

			display: inline-block;

			input[type=text] {
				border:none;
				padding : 5px;
				margin:0;
				font-style: italic;
				color: $color;
				border-bottom:1px $light_color dotted ;
				height: 100%;
			}

			button {
				border : none;
				margin:0;
				padding:5px;
				padding-left :0;
				padding-right :0;
				background-color: transparent;
				background-image: none;
			}

		}


		.social {
			
			display: inline-block;
			margin:0px;
			
			border-left:1px $light_color solid ;
			padding-left:5px;

			.icon {
				padding:5px;
				padding-left:0;
			}
		}



	}

	.content {
		min-height : 50vh;
	}


	footer {
		margin-top : 20px ;
		border-top : 1px $light_color solid ;
		color: $light_color ;
		font-family: sans-serif;

		a {
			text-decoration: none ;
		}	

		.license {
			text-align: center;
			font-style: italic;
			font-size: smaller;

			img {
				vertical-align: middle;
				margin-left:5px;
			}
		}
	}

}



.post {

	h1 {
		font-family: monospace ;
		font-size: 4vw;
		font-weight: bold;

		text-align: center ;
		padding-bottom : 20px;
		padding-top : 20px;
		margin : 0px;
		border-bottom: 1px $light_color solid ;

		font-weight: normal;
	}

	.content {
		 padding-left : 20px;
		 padding-right : 20px;
		 text-align: justify;

	}
}

.directory {

	h1 {
		font-family: monospace ;
		font-size: 4vw;
		font-weight: bold;

		text-align: center ;
		padding-bottom : 20px;
		padding-top : 20px;
		margin : 0px;
		border-bottom: 1px $light_color solid ;

		font-weight: normal;
	}

	.content {
		 padding-left : 40px;
		 padding-right : 20px;
		 text-align: justify;

	}
}


@media (min-resolution: 100dpi) {
	body {
		font-size:50px;
	}

	.icon {
		height: 64px;
		vertical-align: center
	}

	.title img {
		width : 80vw;
	}

}

@media (max-resolution: 100dpi) and (min-width: 1000px) {
	.whole {
		width : 1000px ;	
		border-left : 1px $light_color solid ;
		border-right : 1px $light_color solid ;

		.title img {
			width : 600px;
		}
	}
}



