---
---

$color : rgb(128,128,128) ;
$light_color : rgb(192,192,192) ;
$dark_color : rgb(32,32,32) ;


$font : serif ;


body {
	padding:0;
	margin:0;
	font-family: $font;
	color: $color;
	font-size : 20px;
	/* background-image: url('/img/work/just-waves.png'); */
}

a {
	color : $dark_color ;
}

.icon {
	height:32px;
	vertical-align: middle;
}

.icon-set {
	text-align: center;
	display: inline-table;
	margin:0px;
	padding:5px;
	border-left:1px $light_color solid ; 
	
	span {
		display: table-cell;
	}
}


pre code {
	border:1px $light_color dashed;
	border-radius: 10px;
}

.whole {
	margin-left : auto ;
	margin-right : auto ;
	margin-bottom: 0;
	margin-top:0;
	
	min-height: 100vh;

	background-color: white ;

	.title {

		padding : 10px;
		border-bottom : 1px $light_color solid ;



		h1 {
			text-align: center;
			margin : 0;
			padding : 5px;
			padding-top : 10px;
			border : none;

		}
	
		a {
			text-decoration: none;
		}


	}

	nav {


		font-family: sans-serif;
		border-bottom : 1px $light_color solid ;
		display: grid;
		grid-template-columns: 5fr 10fr 5fr;


		.input {
			margin:0;
			padding:5px;
			border-left:1px $light_color solid ;

			display: inline-grid;

			text-align: center;

			input[type=text] {

				grid-column:1 / span 9;
				border:none;
				
				margin:0;
				margin-bottom: 1px;
				padding-bottom : 4px;
				font-style: italic;
				color: $color;
				border-bottom:1px $light_color dotted ;
				
			}

			button {
				grid-column : 10 ;
				border : none;
				margin:0;
				background-color: transparent;
				background-image: none;
			}

		}

	}

	.content {
		min-height : 90vh;
	}


	footer {
		margin:0;
		padding:10px;

		border-top : 1px $light_color solid ;
		color: $light_color ;
		font-family: sans-serif;

		display: grid;
		grid-template-columns: 3fr 5fr 3fr 5fr 3fr;

		a {
			margin:0;
			text-decoration: none ;
		}	

		p {
			margin:0;
			display: inline-table;
			border: none
		}

	}

}



.post {

	header {
		border-bottom: 1px $light_color solid ;
	
		h1 {
			text-align: center ;
			font-family: monospace ;
			font-size: 4vw;
			font-weight: bold;

			padding-bottom : 10px;
			padding-top : 40px;
			margin : 0px;

			font-weight: normal;
		}

		p {
			margin:0;
			margin-top : 5px;
			padding : 5px;
			font-size: smaller ;
			text-align: right;
		}

	}

	.content {
		 padding-left : 20px;
		 padding-right : 20px;
		 text-align: justify;

	}

	footer {
		border:none ;
		text-align:center;
	}
}

.directory {

	h1 {
		font-family: monospace ;
		font-size: 4vw;
		font-weight: bold;

		text-align: center ;
		padding-bottom : 20px;
		padding-top : 20px;
		margin : 0px;
		border-bottom: 1px $light_color solid ;

		font-weight: normal;
	}

	.content {
		 padding-left : 40px;
		 padding-right : 20px;
		 text-align: justify;

	}
}


@media (min-resolution: 100dpi) {
	body {
		font-size:50px;
	}

	.icon {
		height: 64px;
		vertical-align: center
	}

	.title img {
		width : 80vw;
	}

}

@media (max-resolution: 100dpi) and (min-width: 1000px) {
	.whole {
		width : 1000px ;	
		border-left : 1px $light_color solid ;
		border-right : 1px $light_color solid ;

		.title img {
			width : 600px;
		}
	}
}



