<figure class="highlight">
    <pre><code id="code-{{include.id}}" class="language-{{include.language}} hljs {{include.style}}" data-lang="{{include.language}}">{% include_relative {{ include.path }} %}</code></pre>
    <ul class="buttons">
    	<li><a href="{{include.path}}"><img src="/img/Download-Grey.svg"></a></li>
    	<li><a href="javascript:zoomOutCode('{{include.id}}')"><img src="/img/Zoom-out-Grey.svg"></a></li>
    	<li><a href="javascript:zoomInCode('{{include.id}}')"><img src="/img/Zoom-in-Grey.svg"></a></li>
    </ul>
    {% if include.caption %}
    <figure-caption>{{include.caption}}</figure-caption>
    {% endif %}
</figure>