---
layout: default
---

<header>
	<div class="title">
		<h1 class="title"><a href="/"><img title="RS01, an interactive tech blog" alt="RS01" src="/img/rs01.svg"></a></h1>
	</div>
</header>

<nav class="browsing-page">


		<div class="nav-bar">



			<div class="nav-group"  style="text-align:left">
				<form action="/search" method="get">
					<input type="text" name="query" value="Type anything...">
					<button type="submit"><img class="icon" src="/img/Right-arrow-Grey.svg"></button>
				</form>
			</div>

			<div class="nav-group" style="text-align:right">
				<span><a href="/history.html"><img src="/img/History-Grey.svg" class="icon"></a></span> 
				<span><a href="/tree.html"><img src="/img/Tree-Grey.svg" class="icon"></a></span> 
				<span><a href="/graph.html"><img src="/img/Graph-Grey.svg" class="icon"></a></span> 
				<span><img src="/img/Dice-Grey.svg" class="icon"></span> 
			</div>



		</div>

	
</nav>

<content>
	<div class="content">
	{{content}}
	</div>
</content>