---
layout: default
---

<nav class="content_page">
	
	<div class="nav-bar" style="width:1000px">

		<p class="nav-group" style="text-align: left">
			<span><a href="/"><img itle="RS01, an interactive tech blog" alt="RS01" src="/img/rs01-small.svg" class="icon"></a></span> 
		</p>

		<p class="nav-group" style="text-align:right" >								
			<span><img src="/img/Edit-Grey.svg"    title="Edit this page"    class="icon"></span>		
			<span><img src="/img/Comment-Grey.svg" title="Comment this page" class="icon"></span>		
			<span><img src="/img/Heart-Grey.svg"   title="Like this page"    class="icon"></span>		
			<span><img src="/img/Share-Grey.svg"   title="Share this page"   class="icon"></span>	
		</p>

	</div> 
	
</nav>

<content>
	<div class="content" style="padding-top:50px;">
	{{content}}
	</div>

</content>