---
layout: default
---

<nav class="content_page">

	<p class="icon-set" style="text-align: left">
		<span><a href="/"><img itle="RS01, an interactive tech blog" alt="RS01" src="/img/rs01.svg" class="icon"></a></span> 
	</p>

	<form class="input" action="/search" method="get">
		<input type="text" name="query" value="Type anything...">
		<button type="submit"><img class="icon" src="/img/Right-arrow-Grey.svg"></button>
	</form>

	<p class="icon-set">								
		<span><img src="/img/Edit-Grey.svg"    title="Edit this page"    class="icon"></span>		
		<span><img src="/img/Star-Grey.svg"    title="Rate this page"    class="icon"></span>	
		<span><img src="/img/Comment-Grey.svg" title="Comment this page" class="icon"></span>		
		<span><img src="/img/Heart-Grey.svg"   title="Like this page"    class="icon"></span>		
		<span><img src="/img/Share-Grey.svg"   title="Share this page"   class="icon"></span>	
	</p>

	
</nav>

<content>
	<div class="content">
	{{content}}
	</div>
</content>