<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="rs01.css">

	<title>RS01 - {{page.title}}</title>

</head>

<body>


	<header>
		<h1><a href="/">RS01</a></h1>
	</header>

	<nav>
		<ul>
			<li><a href="tutorials">Tutorials</a></li>
			<li><a href="thoughts">Thoughts</a></li>
			<li><a href="overviews">Overviews</a></li>
			<li><a href="maps">Maps</a></li>
			<li><a href="experiments">Experiments</a></li>
		</ul>
	</nav>
	<article>

		<header><h2>{{page.title}}</h2></header>
		
		<content>
			{{content}}
		</content>
	</article>

	<footer>
		<ul>
			<li>Github</li>
			<li>Twitter</li>
			<li>CC license</li> 
		</ul>
	</footer>		

</body>
</html>