<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/rs01.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">

	<title>RS01 - {{page.title}}</title>

	<link rel="stylesheet" href="/lib/highlight.js/styles/lightfair.css">
	<script src="/lib/highlight.js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

	<article class="whole"> 

		{{content}}

		<footer>

			<div class="footer-group">

				<h3>Legal things</h3>

				<ul>
					<li style="list-style-image: url('/img/Eye-Grey.svg')">
						<a href="/privacy.md">
							Sorry, I'm (a little) watching you.
						</a>
					</li>
					<li style="list-style-image: url('/img/CC-Grey.svg')">
						<a href="https://creativecommons.org/licenses/by-sa/4.0/">
							All content under CC-BY-SA license.
						</a>
					</li>
				</ul>
				
			</div>

			<div class="footer-group">
				<h3>Social things</h3>
				<ul>
					<li style="list-style-image: url('/img/-Grey.svg')">
						<a href="https://www.twitter.com/rs01blog/">
							<img src="/img/Twitter-Grey.svg" class="icon">
							Twitter
						</a>
					</li>
					<li style="list-style-image: url('/img/Reddit-Grey.svg')">
						<a href="https://www.reddit.com/u/rs01blog">
							Reddit
						</a>
					</li>
					<li style="list-style-image: url('/img/GitHub-Grey.svg')">
						<a href="https://github.com/rs01blog/">
							GitHub
						</a>
					</li>
				</ul>
			</div>

			<div class="footer-group">
				<h3>Other things</h3>
				<ul>
					<li style="list-style-image: url('/img/Question-Grey.svg')">
						<a href="/about.md">
							About
						</a>
					</li>
					<li style="list-style-image: url('/img/Email-Grey.svg')">
						<a onclick="showSuscribeMailingList()">
							Mailing list
						</a>
					</li>
					<li style="list-style-image: url('/img/Rss-Grey.svg')">
						<a href="/rss.xml" class="icon">
							RSS Feed
						</a>
					</li>
					
				</ul>

			</div>

		</footer>	


	</article>	

</body>
</html>