<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/rs01.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">

	<title>RS01 - {{page.title}}</title>

</head>

<body>

	<article class="whole"> 

		<header>
			<div class="title">
				<h1 class="title"><a href="/"><img alt="RS01" src="/img/rs01.svg"></a></h1>
			</div>
		</header>

		<nav>
			<form class="search" action="search.html" method="get">
				<input type="text" value="Type your search here">
				<button type="submit"><img class="icon" src="/img/Search-Grey.svg"></button>
			</form>

			<p class="social">
				<img src="/img/Follow-Grey.svg" class="icon"> 
				<img src="/img/Share-Grey.svg" class="icon">		
			</p>
		</nav>

		<content>
			<div class="content">
			{{content}}
			</div>
		</content>

		<footer>
			<p>		
				<a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons License">
					<img class="icon" src="/img/CC-Grey.svg" height="32" alt="creative commons license">
				</a>
				- All the content of this site is under Creative Commons license
			</p>
		</footer>	


	</article>	

</body>
</html>